.menulist li a{
    background: #000;
    color: #FFF;
    padding: 15px;
    display: block;
    margin-bottom: 5px;
}

.menulist li{
    list-style: none;

}

.menulist{
    padding: 0;
    margin: 0;
}